<!doctype html>
<html>
    <head>
        <title>fun with numbers</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <script src="number.js"></script>
    </head>

    <body ng-app="FunWithNumbers">
        <div class="main" ng-controller="TheController">
            <div class="in">
                <form ng-submit="translate()">
                    <label for="input">Specify a number: </label>
                    <input type="text" name="input" ng-model="in" />
                    <input type="submit" value="Translate!" />
                </form>
            </div>
            <div class="out">
                <div ng-repeat="answer in out track by $index" ng-class-odd="odd">
                    {{answer}}
                </div>
            </div>
        </div>
    </body>
</html>
